# -----------------
# Python / notebooks
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.ipynb_checkpoints
.env
.venv
venv/
.env.*
*.env

# VS Code / local editor stuff
.vscode/
*.code-workspace


# -----------------
# OS / misc
# -----------------
.DS_Store
Thumbs.db

# generated outputs
figures/*.html
