data/raw/*.csv filter=lfs diff=lfs merge=lfs -text
data/processed/*.parquet filter=lfs diff=lfs merge=lfs -text
data/processed/*.gpkg filter=lfs diff=lfs merge=lfs -text

notebooks/more_data_analysis.ipynb filter=lfs diff=lfs merge=lfs -text

*.html -filter -diff -merge text

*.ipynb -filter -diff -merge text

